In [3]:
import pandas as pd
import requests

In [5]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [6]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [7]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,27.8702,8.712,28805
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,27.1466,8.686,21778
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,16.9484,8.571,13151
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,18.4556,8.565,16672
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,12.7383,8.548,9359

In [11]:
df = pd.DataFrame()

In [13]:
temp_df.shape

(20, 7)

In [ ]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = pd.concat([df, temp_df], ignore_index=True)

#    df = df.append(temp_df,ignore_index=True)

In [31]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,195.058,8.708,27725
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,200.775,8.689,21031
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,117.499,8.570,12695
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,118.325,8.567,16145
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,101.040,8.548,8887
...,...,...,...,...,...,...,...
8555,58547,10 Years,A group of friends reunite ten years after the...,2012-09-14,9.243,5.800,548
8556,87428,That's My Boy,"While in his teens, Donny fathered a son, Todd...",2012-06-14,34.041,5.823,1985
8557,240916,Reasonable Doubt,When up-and-coming District Attorney Mitch Bro...,2014-01-17,15.596,5.800,560
8558,429202,Vox Lux,"In 1999, teenage sisters Celeste and Eleanor s...",2018-09-07,12.293,5.800,486
8559,423087,6 Below: Miracle on the Mountain,An adrenaline seeking snowboarder gets lost in...,2017-10-12,14.903,5.800,365

In [33]:
df.shape

(8560, 7)

In [23]:
df.to_csv('movies.csv')